.centered-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-margin {
    margin-left: 20px;
    color: white;
    text-decoration: none
}

#profile-img {
    border-radius: 50%;
    object-fit: cover;
    width: 300px;
    height: 300px;
    border: 10px solid gray;
}

#profile-section {
    display: grid;
    grid-template-columns: 1.3fr 2.7fr;
}